body, html {
    height: 100%;
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #1a1a1a;
    color: #fcd700;
    font-family: 'Montserrat', sans-serif;
    font-size: 18px;
}
#gameTitle {
    position: fixed; /* This makes the title always stay in the same place on the screen */
    top: 100px;
    left: 0;
    width: 100%;
    color: #fcd700; /* Using the gold color for the text */
    text-align: center;
    padding: 10px 0; /* Adds some space above and below the text */
    font-size: 24px; /* Making the title text a bit larger */
    z-index: 1000; /* Ensures the title stays above all other content */
}

#playerSetup {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100%;
}

#playerSetup input, button, .dice {
    margin: 15px; 
    border-radius: 8px; 
}

#gameExplanation, #finalScores {
    padding: 20px; 
    border-radius: 12px; 
}

#buttonsContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 10px;
}

#actionButtons {
    display: flex; 
    gap: 10px; 
}

#playerSetup input {
    padding: 10px 20px;
    margin-bottom: 10px;
    border-radius: 5px;
    border: 2px solid #fcd700;
    text-align: center;
    width: 200px;
    background-color: #333;
    color: #fcd700;
    padding: 15px 25px; 
    font-size: 18px; 
    width: 250px;
}
#playerSetup button {
    padding: 10px 20px;
    border: 2px solid #fcd700;
    border-radius: 5px;
    background-color: #333;
    color: #fcd700;
    font-weight: bold;
    cursor: pointer;
    transition: all 0.3s ease;font-size: 18px;

}
#gameExplanation {
    text-align: center;
    margin-top: 20px;
    padding: 15px;
    border-radius: 10px;
    width: 80%;
    max-width: 500px;
    background-color: rgba(28, 28, 28, 0.9);
    border: 1px solid #fcd700;
}
#gameContainer {
    display: none;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    text-align: center;
}
.dice {
    display: inline-block;
    width: 80px;
    height: 80px;
    margin: 10px;
    font-size: 30px;
    line-height: 80px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(252, 215, 0, 0.7);
    transform: rotate(0deg); 
    backface-visibility: hidden; 
}

#dice3 {
    background-color: #fcd700;
    color: black;
}
#dice2, #dice1 {
    background-color: #333;
    color: #fcd700;
    border: 2px solid #fcd700;
}
#scoreBoard {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
    color: #fcd700;
}
button {
    padding: 10px 20px;
    border: 2px solid #fcd700;
    border-radius: 5px;
    background-color: #333;
    color: #fcd700;
    font-weight: bold;
    cursor: pointer;
    transition: all 0.3s ease;
    margin: 10px;
}

#scoreBoard, #statusMessage, #roundCounter {
    font-size: 24px;
}

.player-score {
    font-size: 22px; 
}

button:hover {
    transform: scale(1.1);
    background-color: #fcd700;
    color: black;
}
@keyframes rollDice1 {
    0% { transform: rotate(0deg); }
    50% { transform: rotate(180deg); }
    100% { transform: rotate(360deg); }
}

@keyframes rollDice2 {
    0% { transform: rotate(0deg); }
    50% { transform: rotate(180deg); }
    100% { transform: rotate(360deg); }
}

@keyframes rollDice3 {
    0% { transform: rotate(0deg) scale(1); }
    50% { transform: rotate(180deg) scale(1.2); }
    100% { transform: rotate(360deg) scale(1); }
}


.dice1-animation {
    animation: rollDice1 0.75s ease-out infinite;
}

.dice2-animation {
    animation: rollDice2 0.75s ease-out infinite;
}

.dice3-animation {
    animation: rollDice3 0.75s ease-out infinite;
}

.player-icon {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0 15px;
    margin-bottom: 20px;
}
.player-score {
    font-size: 22px; 
}
.player-letter {
    font-size: 24px;
    margin-top: 5px;
}
#diceAndButtonContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-bottom: 20px;
}
#roundCounter {
    color: #fcd700;
    font-size: 22px;
    margin-bottom: 10px;
}
.player-icon.active {
    border: 3px solid #fcd700;
    padding: 5px;
    border-radius: 50%;
}
.player-icon.active .player-letter {
    font-weight: bold; 
    text-decoration: underline;
    text-decoration-color: #fcd700; 
    text-decoration-thickness: 2px; 
    text-underline-offset: 3px; 
    color: #fcd700; 
}

#statusMessage {
    color: #fcd700;
    font-size: 18px;
    margin-bottom: 10px;
}
#finalScoresScreen {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 100%;
    text-align: center;
}
#finalScores {
    margin: 20px;
    padding: 20px;
    border-radius: 10px;
    background-color: rgba(28, 28, 28, 0.9);
    border: 1px solid #fcd700;
    color: #fcd700;
}


